.nawigacja {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: cadetblue;
    height: 50px;
    text-align: center;
}
.nav-links a {
    text-decoration: none;
    color: gold;
    font-family: "Anton", sans-serif;
}
.txt {
    margin-top: 15px;
}
.lorem2 {
    text-align: center;
    padding: 150px;
    color: rgb(255, 187, 15);
    font-family: "Anton", sans-serif;
}
.brd2 {
    border: 10px;
    border-radius: 10px;
    border-style: inset;
    border-color: blue;
    padding: 10px;
    background-image: url(d6512aj-e2871704-5e75-4ef2-b758-6d7c1ac027eb.jpg);
}
.lorem3 {
    text-align: center;
    padding: 150px;
    color: aqua;
    font-family: 'Goldman',cursive;
}
.brd3 {
    border: 10px;
    border-radius: 10px;
    border-style: inset;
    border-color: blue;
    padding: 10px;
    background-image: url(pucharinio.jpg);
}
.img2 {
    width: 988px;
    height: 351px;
}
.napis {
    text-align: center;
    color: white;
}

.brd4 {
    border: 10px;
    border-radius: 10px;
    border-style: ridge;
    border-color: tomato;
}
.brd5 {
    border: 10px;
    border-radius: 10px;
    border-style: groove;
    border-color: aqua;
}
.grid{
    margin-top: 2%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row: 0;
    margin-left:1%;
    padding: 55px;
}
.obrazek{
    width: 300px;
    height: 210px;
}
@keyframes zoom {
    from{
width: 300px;
height: 210px;
    }
    to{
transform: scale(1.3);
    }
}
.obrazek:hover{
    animation-name: zoom;
    animation-duration: 1500ms;
}

.overflow{
    overflow: hidden;
    max-width: 300px;
    max-height: 210px;
    align-items: center;
}
.color {
    background-color: yellow;
}
.brd6 {
    border: 5px;
    border-style: ridge;
    border-color: teal;
}
.tekscior2 a {
    text-decoration: none;
    color: blue;
    
}
.ezez {
    background-image: url(Niszczenie-Nexusa-w-League-of-Legends.png);
    width: 1530px;
    height: 900px;
}
.ez {
    text-align: center;

}
.czlasa {
    text-align: center;
    font-size: 20px;
    color: gold;
}



